@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@570&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
body {
  line-height: 1.5;
  font-family: "Noto Sans Mono", sans-serif;
}
.banner {
  width: 100%;
  height: 250vh;
  background: linear-gradient(rgba(25, 98, 117, 0.7), rgba(21, 59, 84, 0.7)),
    /*  <--- Decide on a color and picture. */ url(Images/hologram.png);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 120px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #153b54;
  position: absolute;
  left: 0;
  top: 25px;
  transition: 0.5s;
}
.navbar ul li:hover:after {
  width: 100%;
}

.about-section {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 100px;
  color: #ffffff;
}

.about-section p {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.images img {
  position: absolute;
  border-radius: 50%;
  border: 3px solid #196275;
}

.img1 {
  height: 220px;
  width: 250px;
  margin-left: 1250px;
  margin-top: 90px;
}

.img2 {
  height: 220px;
  width: 250px;
  margin-left: 1500px;
  margin-top: 320px;
}

.img3 {
  height: 220px;
  width: 250px;
  margin-left: 1200px;
  margin-top: 520px;
}

.ourteam {
  padding-top: 100px;
}

.teamtitle {
  text-align: center;
  margin-top: -700px;
  color: #ffffff;
  margin-top: -750px;
}

.maintext {
  padding-top: 700px;
  background-image: linear-gradient(to bottom right, #196275, #153b54);
  margin-top: 80px;
}

#rectangle {
  width: 800px;
  height: 600px;
  background-color: #24262b;
  margin-top: 130px;
  margin-left: 200px;
  border-radius: 25px;
  border: 3px solid #196275;
}

.team1 img {
  margin-left: 100px;
  margin-top: -30px;
  border-radius: 25px;
  border: 3px solid #76cfef;
}

.team1 {
  padding-top: 100px;
  margin-left: -250px;
}

.team1 h4 {
  color: #ffffff;
  margin-left: 320px;
}

.team1 p {
  color: #ffffff;
  margin-left: 320px;
  margin-top: -150px;
}

.team2 img {
  margin-left: 100px;
  margin-top: -30px;
  border-radius: 25px;
  border: 3px solid #76cfef;
}

.team2 h4 {
  color: #ffffff;
  margin-left: 320px;
}

.team2 p {
  color: #ffffff;
  margin-left: 320px;
  margin-top: -150px;
}

.team2 {
  padding-top: 200px;
  margin-left: -250px;
}

.team3 img {
  margin-left: 100px;
  margin-top: -30px;
  border-radius: 25px;
  border: 3px solid #76cfef;
}

.team3 h4 {
  color: #ffffff;
  margin-left: 320px;
}

.team3 p {
  color: #ffffff;
  margin-left: 320px;
  margin-top: -150px;
}

.team3 {
  padding-top: 200px;
  margin-left: -250px;
}

.team4 img {
  margin-left: 100px;
  margin-top: -30px;
  border-radius: 25px;
  border: 3px solid #76cfef;
}

.team4 h4 {
  color: #ffffff;
  margin-left: 320px;
}

.team4 p {
  color: #ffffff;
  margin-left: 320px;
  margin-top: -150px;
}

.team4 {
  margin-top: -435px;
  margin-left: 700px;
  padding-bottom: 100px;
}

.team5 img {
  margin-left: 100px;
  margin-top: -30px;
  border-radius: 25px;
  border: 3px solid #76cfef;
}

.team5 h4 {
  color: #ffffff;
  margin-left: 320px;
}

.team5 p {
  color: #ffffff;
  margin-left: 320px;
  margin-top: -150px;
}

.team5 {
  margin-left: 700px;
  padding-top: 100px;
}

.second-team {
  margin-top: -620px;
  padding-bottom: 125px;
  margin-left: -160px;
}

.ent {
  margin-left: 420px;
  margin-top: 55px;
}

.greet {
  color: #ffffff;
  padding-left: 150px;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 210px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #153b54;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }

  .footer {
    margin-top: -100%;
  }
}
