@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@570&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
  }
  .banner {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(25, 98, 117, 0.7), rgba(21, 59, 84, 0.7)), url(Images/background.jpg);
	background-size: cover;
	background-position: center;
  }
  .navbar {
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .logo {
	width: 120px;
	cursor: pointer;
  }
  .navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
  }
  .navbar ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
  }
  .navbar ul li::after {
	content: "";
	height: 3px;
	width: 0;
	background: #153B54;
	position: absolute;
	left: 0;
	bottom: -10;
	transition: 0.5s;
  }
  .navbar ul li:hover:after {
	width: 100%;
  }
  .content {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #153B54;
  }
  .content h1 {
	font-size: 70px;
	margin-top: 80px;
    color: #ffffff;
  }
  .content p {
	margin: 20px auto;
	line-height: 25px;
    color: #ffffff;
  }
  button{
	  width: 200px;
	  padding: 15px 0;
	  text-align: center;
	  margin: 20px 10px;
	  border-radius: 25px;
	  font-weight: bold;
	  border: 2px solid #153B54;
	  background: transparent;
	  color: #fff;
	  cursor: pointer;
	  position: relative;
	  overflow: hidden;
  }
  span{
	  background: #153B54;
	  height: 100%;
	  width: 0;
	  border-radius: 25px;
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  z-index: -1;
	  transition: 0.5s;
  }
  button:hover span{
	  width: 100%;
  }
  button:hover span{
	  border:none
  }

  .top {
      background: linear-gradient(#153B54, #196275)
  }

  .who-we-are {
      position: absolute;
      top: 950px;
      left: 50px;
      font-size: 70px;
      color: #25A7D7;
      font-family: 'Noto Sans Mono', sans-serif;
  }

  .explain1 {
    position: absolute;
    top: 1100px;
    left: 50px;
    font-size: 30px;
    color: #76CFEF;
    font-family: 'Noto Sans Mono', sans-serif;
  }

  .explain2 {
    position: absolute;
    top: 1150px;
    left: 50px;
    font-size: 30px;
    color: #76CFEF;
    font-family: 'Noto Sans Mono', sans-serif;
  }

  .explain3 {
    position: absolute;
    top: 1200px;
    left: 50px;
    font-size: 30px;
    color: #76CFEF;
    font-family: 'Noto Sans Mono', sans-serif;
  }

  .explain4 {
    position: absolute;
    top: 1250px;
    left: 50px;
    font-size: 30px;
    color: #76CFEF;
    font-family: 'Noto Sans Mono', sans-serif;
  }

  .explain5 {
    position: absolute;
    top: 1300px;
    left: 50px;
    font-size: 30px;
    color: #76CFEF;
    font-family: 'Noto Sans Mono', sans-serif;
  }

  .contact {
    position: absolute;
    top: 1400px;
    left: 50px;
    font-size: 30px;
    color: #76CFEF;
    font-family: 'Noto Sans Mono', sans-serif;
  }

  .smart {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 1000px;
    left: 1100px;
    opacity: 0.3;
    box-shadow: 30px 30px 10px #153B54;
    border: 5px solid #25A7D7;
    border-radius: 30px;
  }

  .cont {
	  width: 200px;
	  padding: 15px 0;
	  text-align: center;
	  margin: 20px 10px;
	  border-radius: 25px;
	  font-weight: bold;
	  border: 2px solid #153B54;
	  background: transparent;
	  color: #fff;
	  cursor: pointer;
	  position: relative;
	  overflow: hidden;
    left: 250px;
    bottom: 650px;
    box-shadow: inset 0 0 0 0 #153B54;
    transition: ease 0.5s;
    outline: none;
  }

  .cont:hover {
    box-shadow: inset 200px 0 0 0 #153B54;
  }