/*body {
	font-family: : 'Arial';
}
*/



* {
	margin:0;
	padding:0;
	border:0;
}
.input{
	box-sizing: border-box;
	border-radius:20px;
	border: black;
}

.camera{
	color:white;
	font-size: 20px;
	font-weight: bolder;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-bottom: 1.8em
}

#price{
	font-size: 14px;
}
#money{
	margin-top: 10px;
}

.money{
	font-size: 20px;
	font-weight: bolder;
	color:rgba(210, 105, 30, 0.875)!important;
	margin-left:5px;
	font-family:Georgia, 'Times New Roman', Times, serif
}	

div.money{
	font-size: 25px;
}


nav{
	background-color:rgba(46, 37, 61, 0.284);
	height: 45px;
	text-align: center;
	margin-top: -1.5%;
	
}

#placement{
	margin-left: 20%;

}

#image{
	margin-top:40%;
	margin-left: 3%;
	border:solid;
	border-width: 1px;
	border-color:rgba(96, 24, 0, 0.59);
	width:89%;

}

.selection2{
	height:85%;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgb(210, 202, 241);
	color:black;
	border-radius: 10px;
	text-align: center;
}
.height{
	padding-top:30px;
}

#select2{
	margin-left: 2%;
	font-size:19.5px;
	font-family:'Times New Roman', Times, serif;
}

.selection{
	height:85%;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgb(210, 202, 241);
	color:black;
	border-radius: 10px;
	text-align: center;
}

#select{
	margin-left: 2%;
	font-size:19.5px;
	font-family:'Times New Roman', Times, serif;
}

#imp{
	width: 30px;
	margin-left: 4%;
	
}

.check {
	width: 10%;
	

}
.hey{
	background: linear-gradient(rgba(25, 98, 117, 0.7), rgba(21, 59, 84, 0.7)),
    url(Images/redemtion.jpg);
  	background-size: cover;
  	background-position: center;
	height: 100%;
}

#menuorder{
	border:3px solid rgba(195, 195, 195, 0.743);
	border-radius: 15px;
	width: 15%;
	height:470px;
	margin-top: 2%;
	margin-left: 1%;
	float:left;
	text-align: left;
	color:white;
	border-width: 2px;
}

#menu {
	color: white;
	font-size: 30px;
	line-height: 59px; 
	float:left;
	margin-left:30px;
	display:none;

}

label#menu:hover{
	font-size: 35px;
	
}

label.logo {
	color: white;
	font-size: 40px;
	font-weight: bold;
	line-height: 65px;
	font-family: 'Times New Roman', Times, serif;
	
	
	
}

#number:hover{
	text-decoration: underline;
}

.free{
	border:none;
	color:rgb(231, 227, 227);
	background-color: rgb(3, 95, 200);
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
	width: 60%;
	height:40%;
	line-height: 2px;
	margin-left: 20%;
}

.free:hover{
	cursor: pointer;
	background-color: rgb(3, 62, 200);
	width: 61%;
	height:41%;

}


.order{
	border:none;
	color:rgb(0, 16, 94);
	background-color: rgb(203, 115, 0);
	width: 60%;
	height:40%;
	line-height: 2px;
	margin-left: 20%;
	
}

.order:hover{
	cursor: pointer;
	background-color: rgb(202, 91, 0);
	width: 61%;
	height:41%;

}

div.trial{
	font-weight: bold;
	font-size: 20px;
	color:#008c00!important;
	text-decoration: underline;
	margin-left:7.2px;
	margin-top:15px;
}

ul.trial{
	margin-left: 20%;
	margin-top: 15px;
	font-size: 15px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color:#007900!important;
	font-weight: bolder;
	margin-bottom: 10px;

}
.line{
	width: 99.5%;
	height: 47px;
	border-bottom: 1px solid black;
	font-size: 0;
	margin-top:-35px;
	border-color:rgba(96, 24, 0, 0.618);
	
}


table.beta,td.beta {
	border-collapse: collapse;
	padding: 15px 50px;
	width: 165px;	
	display: none;
}

td.beta a{
	text-decoration: none;
	color:white;
}

td.beta:hover {
	background-color: rgba(35, 35, 88, 0.904);
	border-bottom: solid 1.5px rgba(255, 255, 255, 0.37);
	font-size: 17px;
}




table.contact{
	border-top: 10px solid rgb(151, 166, 180);
	width:1425px;
	border-bottom: 10px solid rgb(151, 166, 180);
	border-collapse: collapse;
}

#transaction,
#number{
	text-decoration: none;
	color:rgba(26, 26, 26, 0.847);
	font-size:16.5px;

}
img{
	border-radius: 10px;
}
#secure{
	height:18px;
	width:20px;
	margin-left: 10%;
	margin-top: -5px;
}

table.beta,
#photo1{
	float:left;
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 30px;
}
.tbod{
	font-size: 19px;
	color:rgba(255, 255, 255, 0.777);
	
}

.close {
	color: #aaaaaa;
	float: right;
	margin-right:10px;
	font-size: 35px;
	font-weight: bold;
	position:relative;
	z-index:6;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#tbod{
	word-spacing:15px;
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
}
#text{
	color:rgba(255, 255, 255, 0.777);
	font-size:20px;
	text-decoration: underline;
}

#text1{
	margin-left: 20px;
	margin-top: 25px;
	float: left;
	width: 43%;
	color:black;

}


.stars td section article.chart{
	width: 200px;
	height: auto;
	background-color: rgba(65, 61, 61, 0.694);
	border:0.1px solid rgba(65, 61, 61, 0.694);
	border-radius: 7px;
	
}

#style{
	text-decoration: none;
	color:rgb(0, 16, 94);
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
}

.start tr td section article.chart p{
	padding:1%;
	color: rgba(128, 128, 128, 0);
	position: relative;
	box-sizing: border-box;
	z-index:2;
	overflow: hidden;
	
}
.start tr td section article.chart span:nth-child(1){
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	margin:auto;
	background:grey;
	z-index: -2;
	height: 100%;
	width: 100%;
	border-radius: 7px;
	
	
}

.start tr td section article.chart span:nth-child(2){
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	margin-left:0;
	background:chocolate;
	position: absolute;
	height: 100%;
	z-index: -1;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	
	
}

.start tr:nth-child(3) td section article.chart span:nth-child(2){
	width: 80%;
	animation-delay:0;
	
}

.start tr:nth-child(4) td section article.chart span:nth-child(2){
	width: 10%;
	animation-delay:0;
	
}
.start tr:nth-child(5) td section article.chart span:nth-child(2){
	width: 7%;
	animation-delay:0;
	
}
.start tr:nth-child(6) td section article.chart span:nth-child(2){
	width: 3%;
	animation-delay:0;
	
}
.start tr:nth-child(7) td section article.chart span:nth-child(2){
	width: 0%;
	animation-delay:0;
	
}
ul{
	margin-top: 2%;
}
.fridge_logo{
	float: left;
	margin-left:20%;
	margin-top: 2%;
	color:rgb(152, 209, 173);
	font-size: 15px;
}
.installation{
	margin-top: 3.5%;
	text-decoration: underline;
	margin-bottom: 1.5%;
	font-size:18px;
	color:rgb(209, 195, 152);

}
.inst{
	color:rgba(188, 159, 151, 0.93);
}
.inst,
.installation{
	margin-left:3%;
}
#supported{
	border: 2px solid rgba(195, 195, 195, 0.743);
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	width:15.5%;
	height:260px;
	position:absolute;
	top:47.5%;
	left:67.5%;
}

.space1{
	float:left;
	margin-left: -80px;
	margin-top:6px;
}
.start{
	width: 370px;
	border:solid rgb(11, 34, 41);
	border-radius: 10px;
	height: 220px;
	position: absolute;
	display: none;
	background-color: rgba(46, 35, 63, 0.972);
	
}
.stars{
	color: rgba(255, 255, 255, 0.777);	
	width: auto;
}

.space{
	float: left;
	margin-left: 150px;
	margin-top:-20px;
}

.un{
	color:white;
	position:absolute;
	z-index: 3;
	top:28%;
	left:40%;
	
}
.start table tr > td:nth-child(2) {
	width: 50%;
}
.start tr > td{
	width: 45%;
}



#text1:hover + .start{
	position: absolute;
	left: 33%;
	top: 30%;
	z-index: 3;
	display: block;
}

/*#text1:hover + .start{
	position: absolute;
	left: 33%;
	top: 30%;
	z-index: 3;
	display: block;
}
*/
.order:active{
	transform: scale(0.9); 
}
.btn:active{
	transform: scale(0.9); 
}

.free:active{
	transform: scale(0.9);
}
#download-box{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 600px;
	height: 200px;
	background-color: rgb(241, 243, 255);
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	display: none;
	position:absolute;
	top:50%;
	left:30%;
}

.loading-box,
.success{
	display:none;
	transition:1s;
}

.loading-box{
	position: absolute;
	z-index: 2;
	bottom: -100%;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px 2px;
	background-color: rgb(241, 243, 255);
}

.downloading-box{
	width: 95%;
	height: 15px;
	border-radius:50px;
	background-color: grey;
	overflow: hidden;
}
#download-box #load-bar{
	display: inline-block;
	width: 0%;
	border-radius: 50px;
	height: 15px;
	background-color:#146f4e;
	transition:3.5s;
	transition-delay:1s;
}
.loading-box h5{
	color:black;
	font-size: 600;
	margin-top: 10px;
	
}
.btn{
	width: 200px;
	height: 50px;
	cursor: pointer;
	background-color: #146f4e;
	color:black;
	font-size: 1.25em;
	letter-spacing: 1px;
	border-radius: 5px;
	transition: 0.4s;
	line-height: 10px;
	margin-top: 12%;
	margin-left: 35.5%;
}

.success{
	position: absolute;
	z-index: 4;
	bottom: -100%;
	left: 0;
	right: 0;
	width: 100%;
	height: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-delay:4s;
	background-color: rgb(241, 243, 255);
}
.success .check{
	stroke: #146f4e;
	stroke-dasharray: 25;
	stroke-dashoffset:0;
	stroke-linecap: round;
	stroke-width: .2rem;
	border-radius: .2rem;
	margin-left: 20%;
	fill:none;
	transform: scale(4);

}

#review{
	float: left;
	margin-left: -15%;
	width: 200px;
	color:rgba(215, 215, 215, 0.777);
	
}

.review,
#review{
	font-size: 19px;
}

.top{
	border-radius: 0;
	margin-left:0;
	color:white;
	background-color:#06519d;
	border-color:rgba(111,111,111,0.2) transparent transparent;
	width:100%;
	
}



th.content{
	text-align: left;
}
tr.content{
	margin-left: 0;	
	text-align: left;
	
}


#buttom_cont{
	width:99.8%;
	margin-top: -1.48%;
	text-align: center;
	background-color: rgb(22, 82, 222);
	margin-left: 0.1%;
	height: 300px;
  	overflow-y: scroll;
	
}

.content{
	color:white;
	background-color: blue;
	width:100%;
}

#rating{
	font-size: 15px;
	color:chocolate;
	font-weight: bolder;
}

tr.tbod>td {
	padding-bottom: 0.5em;
}

#model {
	border-spacing: 0 15px;
}

#order{
	display:inline-block;
	border:1px solid black ;
	padding: 10px 10px;
	text-decoration:none;
	background: rgb(157, 223, 240);
	color:rgb(52, 16, 100);
	box-shadow:2px 2px 5px black;
	text-align: center;
	margin-top: 20%;
	margin-left: center;
	font-size: 30px;
}
#order:hover {
	box-shadow:3px 5px 6px black;
}
	/*	
body {
	font-family: : 'Arial';
} */

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
  }
  .banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
	  url(Images/background.jpg);
	background-size: cover;
	background-position: center;
}
  .navbar {
	width: 85%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
  .logo {
	width: 120px;
	cursor: pointer;
}
  .navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
  .navbar ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
  .navbar ul li::after {
	content: "";
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10;
	transition: 0.5s;
}
  .navbar ul li:hover:after {
	width: 100%;
}
  .content {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #2bdbfa;
}
  .content h1 {
	font-size: 70px;
	margin-top: 80px;
}
  .content p {
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}
button{
	  width: 200px;
	  padding: 15px 0;
	  text-align: center;
	  margin: 20px 10px;
	  border-radius: 25px;
	  font-weight: bold;
	  border: 2px solid #009688;
	  background: transparent;
	  color: #fff;
	  cursor: pointer;
	  position: relative;
	  overflow: hidden;
}
  
}
  span{
	  background: #009688;
	  height: 100%;
	  width: 0;
	  border-radius: 25px;
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  z-index: -1;
	  transition: 0.5s;
  }
  button:hover span{
	  width: 100%;
  }
  button:hover span{
	  border:none
  }